{{!--
inputs:

--}}
<script>
  window.setTimeout(function () {
    window.location.reload();
  }, 30000);
</script>

<div class="container">
  <h2>Top Scorers</h2>
  <table>
    {{#each sortedByPoints}}
    {{#with (mapLookup ../allPlayersMap (lookup this 0))}}
    <tr>
      <td>{{{formatPlayer this}}}</td>
      <td>{{../this.[1]}}</td>
    </tr>
    {{/with}}
    {{/each}}
  </table>
  <h2>Most Doubles/Triples/etc.</h2>
  <table>
    {{#each sortedByDoubles}}
    {{#with (mapLookup ../allPlayersMap (lookup this 0))}}
    <tr>
      <td>{{{formatPlayer this}}}</td>
      <td>{{../this.[1]}}</td>
    </tr>
    {{/with}}
    {{/each}}
  </table>
</div>