<!-- Caps Track help modal popup. -->
<div id="helpModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Caps Track Help</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Game Interface</h4>
        <p>Press the <tt>+</tt> button to give a player a point.</p>
        <p>Press the <tt>d</tt> button to give a player a double (or triple, or quad, etc).</p>
        <p>Press the <tt>-</tt> button to remove a point you accidentally added.</p>
        <h4>Other</h4>
        <p>Press the 📺 icon to see the "live view", e.g. to show on the TV while games are being played.</p>
      </div>
      {{!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> --}}
    </div>
  </div>
</div>